<% content_for :title, "Editing item venda" %>

<h1>Editing item venda</h1>

<%= render "form", item_venda: @item_venda %>

<br>

<div>
  <%= link_to "Show this item venda", @item_venda %> |
  <%= link_to "Back to item vendas", item_vendas_path %>
</div>
