<p style="color: green"><%= notice %></p>

<% content_for :title, "Item vendas" %>

<h1>Item vendas</h1>

<div id="item_vendas">
  <% @item_vendas.each do |item_venda| %>
    <%= render item_venda %>
    <p>
      <%= link_to "Show this item venda", item_venda %>
    </p>
  <% end %>
</div>

<%= link_to "New item venda", new_item_venda_path %>
