
<div class="container">
  <h1 class="text-center titulo-sistema">Sistema da Farmácia</h1>

   <div class="row mt-5 text-center justify-content-center fw-bold">
    <p>SELECIONE A OPÇÃO DESEJADA:</p>
    <br>
    <br>
    <div class="col mt-5">
      <div> <%= link_to "ATENDENTES", atendentes_path, class: "btn btn-farmacia w-75" %> </div>
    </div>
    <div class="col mt-5">  
      <div> <%= link_to "VENDAS", vendas_path, class: "btn btn-farmacia w-75" %></div>
    </div>
    <div class="col mt-5">
      <div> <%= link_to "MEDICAMENTOS", medicamentos_path, class: "btn btn-farmacia w-75" %></div>
    </div>

  </div>

</div>
