<h1>TELA INICIAL</h1>

<DIV>
  <%= link_to "Atendente", atendentes_path %>
</DIV>

<div> <%= link_to "Medicamento", medicamentos_path %></div>
<div> <%= link_to "Cliente", clientes_path %></div>
<div> <%= link_to "Venda", vendas_path %></div>

<p>Find me in app/views/home/index.html.erb</p>
