<h1>TELA INICIAL</h1>

<DIV>
  <%= link_to "ATENDENTES", atendentes_path %>
</DIV>

<div> <%= link_to "VENDAS", vendas_path %></div>
<div> <%= link_to "MEDICAMENTOS", medicamentos_path %></div>


<p>Find me in app/views/home/index.html.erb</p>
