<p style="color: green"><%= notice %></p>

<% content_for :title, "Medicamentos" %>

<h1>MEDICAMENTOS</h1>

<div id="medicamentos">
  <% @medicamentos.each do |medicamento| %>
    <%= render medicamento %>
    <p>
      <%= link_to "Mostrar Medicamento", medicamento %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Medicamento", new_medicamento_path %>

<a href="../">Voltar</a>


<!-- link_to "Voltar", root_path -->
