<!--
<div>
  <strong>ID: </strong>
  <%#= atendente.id %>
  <br>

  <strong>Nome: </strong>
  <%#= atendente.nome %>
  <br>

  <strong>Cpf: </strong>
  <%#=atendente.cpf %>
  <br>

  <strong>Telefone: </strong>
  <%#= atendente.telefone %>
  <br>
</div>

-->