<% content_for :title, "Editing atendente" %>

<h1>Editing atendente</h1>

<%= render "form", atendente: @atendente %>

<br>

<div>
  <%= link_to "Mostrar Atendente", @atendente %> |
  <%= link_to "Voltar", atendentes_path %>
</div>
