<p style="color: green"><%= notice %></p>

<% content_for :title, "Atendentes" %>


<h1>TELA INICAL</h1>

<br>
<%= link_to "Lista de Atendentes", lista_atendente_path %>
<br>
<%= link_to "Cadastrar Atendente", new_atendente_path %>
<br>
<%= link_to("Voltar", root_path) %>
