<% content_for :title, "Editing venda" %>

<h1>Editing venda</h1>

<%= render "form", venda: @venda %>

<br>

<div>
  <%= link_to "Mostrar Venda", @venda %> |
  <%= link_to "Voltar", vendas_path %>
</div>
